<div
  class="list-group-item d-flex align-items-center flex-column border-2"
  [class.list-group-item-success]="todo().completed"
  [class.list-group-item-danger]="todo().expired"
>
  <h4>{{ todo().title }}</h4>
  @if (todo().dueDate !== undefined) {
    <div>Scadenza: {{ todo().dueDate | date: 'mediumDate' }}</div>
  } @else {
    <div>Nessuna scadenza</div>
  }
  <div class="form-check-reverse form-switch">
    <input
      class="form-check-input"
      type="checkbox"
      [checked]="todo().completed"
      (change)="changeCompleted()"
    />
    <label class="form-check-label" for="completed">Complete</label>
  </div>
</div>
